body {
    margin: 0;
    /*Sem margem fora do componente*/
    padding: 0;
    /*padding dentro do componente margem interna*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.log img {
    padding: 40px 40px 0px 40px;
}

.xpto a {
    text-decoration: none;
    color: #60a3bc;
    padding-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.xpto {
    margin-bottom: 20px;
}

.form a {
    text-decoration: none;
    color: white;
    padding-right: 15px;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.form {
    margin-top: 60px;
}


/*Classe conteudo no sobre.html, estilização de textos e imagens*/

.conteudo {
    width: 90%;
    margin-left: 5vw;
    margin-top: 1vh;
}

.texto #title1 {
    font-size: 20px;
}

.texto {
    width: 50%;
    float: left;
}

.conteudo p {
    float: left;
    font-size: 18px;
    margin-top: 1vh;
}

.conteudo img {
    float: left;
    width: 550px;
    margin-left: 2vw;
    margin-bottom: 80px;
}


/*Classe conteudo2 no sobre.html, estilização de textos e imagens*/

.conteudo2 {
    width: 90%;
    margin-right: 5vw;
    margin-top: 1vh;
}

.texto2 #title2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.texto2 {
    width: 50%;
    float: right;
    margin-bottom: 30px;
    margin-left: 10px;
}

.conteudo2 p {
    float: right;
    font-size: 18px;
    margin-top: 1vh;
}

.conteudo2 img {
    float: right;
    width: 550px;
    margin-left: 2vw;
    margin-bottom: 80px;
}


/*Classe conteudo3 no sobre.html, estilização de textos e imagens*/

.conteudo3 {
    width: 90%;
    margin-left: 5vw;
    margin-top: 1vh;
}

.texto3 #title3 {
    font-size: 20px;
}

.texto3 {
    width: 50%;
    float: left;
}

.conteudo3 p {
    float: left;
    font-size: 18px;
    margin-top: 1vh;
}

.conteudo3 img {
    float: left;
    width: 550px;
    margin-left: 2vw;
    margin-bottom: 80px;
}


/*Classe conteudo4 no sobre.html, estilização de textos e imagens*/

.conteudo4 {
    width: 90%;
    margin-right: 5vw;
    margin-top: 1vh;
}

.texto4 #title4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.texto4 {
    width: 50%;
    float: right;
    margin-bottom: 30px;
    margin-left: 10px;
}

.conteudo4 p {
    float: right;
    font-size: 18px;
    margin-top: 1vh;
}

.conteudo4 img {
    float: right;
    width: 550px;
    margin-left: 2vw;
    margin-bottom: 80px;
}

hr {
    width: 700px;
}

.hr line {
    width: 700px;
    color: #60a3bc;
}

.xpto a:hover {
    border-bottom: 2px solid #60a3bc;
}