<!-- barra superior -->

<header class="header dark-bg">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                class="icon_menu"></i></div>
    </div>


    <a href="dashboard.html" class="logo">Coral <span class="lite">Life</span></a>


    <div class="nav search-row" id="top_menu">

        <ul class="nav top-menu">
            <li>
                <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </li>
        </ul>

    </div>

    <div class="top-nav notification-row">

        <ul class="nav pull-right top-menu">

            <!-- box de informações -->
            <li id="task_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="icon-task-l"></i>
                    <span class="badge bg-important">6</span>
                </a>
                <ul class="dropdown-menu extended tasks-bar">
                    <div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <p class="blue">Suas atualizações</p>
                    </li>
                    <li>
                        <a href="#">
                            <div class="task-info">
                                <div class="desc">Estatisticas anuais</div>
                                <div class="percent">90%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">90% Completo</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="task-info">
                                <div class="desc">
                                    Estatistica Diaria
                                </div>
                                <div class="percent">30%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                    <span class="sr-only">30% Complete (warning)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="external">
                        <a href="#"></a>
                    </li>
                </ul>
            </li>

            <li id="mail_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="icon-envelope-l"></i>
                    <span class="badge bg-important">5</span>
                </a>
                <ul class="dropdown-menu extended inbox">
                    <div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <p class="blue">Você possui 5 mensagens</p>
                    </li>
                    <li>
                        <a href="#">Ver mensagens</a>
                    </li>
                </ul>
            </li>
            <li id="alert_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <i class="icon-bell-l"></i>
                    <span class="badge bg-important">7</span>
                </a>
                <ul class="dropdown-menu extended notification">
                    <div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <a href="#">Ver notificações</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="profile-ava">
                        <img alt="" src="img/avatar2.png" width=40 height=40>
                        <b id="b_usuario"></b>

                        <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li class="eborder-top">
                        <a href="/usuario.html"><i class="icon_profile"></i> Meu perfil</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_mail_alt"></i> Caixa de email</a>
                    </li>
                    <li>
                        <a onclick="logoff()"><i class="fas fa-exit prefix grey-text"></i></i>Sair</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<!-- Menu lateral -->
<aside>
    <div id="sidebar" class="nav-collapse ">

        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="dashboard.html">
                    <i class="icon_house_alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>Relatorio</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="./chart-chartjs.html" class="">
                    <i class="icon_desktop"></i>
                    <span>Estatisticas</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                </ul>
            </li>
            </li>
        </ul>

    </div>
</aside>