.container {
    height: 700px;
    background: #2f3640;
    width: 270px;
}

.menusup {
    height: 80px;
    background-color: #2f3640;
}

.card {
    margin-left: 270px;
    margin-top: -650px;
}

.canvas {
    width: 400px;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    overflow: hidden;
    height: 60px;
}

body {
    font-family: tahoma;
}

li {
    float: left;
    margin-left: 10%;
    width: 200px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #60a3bc;
}

.active {
    background-color: #3498db;
}

.contato {
    float: right;
}

.strong {
    font-family: tahoma;
    color: white;
    font-size: 40px;
    margin-left: 30px;
}

.fotoperfil {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-left: 75px;
    border-radius: 100px;
    margin-top: 10px;
}